body,html {
  height: 100vh;
}

header {
  background: rgb(255, 93, 96);
  font-size: 35pt;
  font-family: "Press Start 2P";
  color: white;
}
.h1 {
  font-size: 50pt;
}
.row {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Press Start 2P";
}
.col {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Press Start 2P";
}
h1 {
  color: grey;
  font-family: "Press Start 2P";
  text-align: center;
}
.dataRight {
  font-family: "Press Start 2p";
  border: 3px solid rgba(158, 161, 163, 0.61);
  margin: 2em;
  padding: 10pt;
  text-align: center;
  box-shadow: -10px 10px rgb(255, 93, 96);
  height: 100%;
  align-items: center;
}


.col .dataRight {
  flex-flow: column;
  font-family: "Press Start 2p";
  border: 3px solid rgba(158, 161, 163, 0.61);
  margin: 2em;
  padding: 10pt;
  text-align: center;
  box-shadow: -10px 10px rgb(255, 93, 96);
  height: 100%;
  align-items: center;
}

.btn {
  background: grey;
  border-radius: 9%;
  color: white;
  cursor: pointer;
  font-family: "Press Start 2P";
  margin: 0 .5em 0 .5em;
}
.crystal-icon {

  source: https://gamepedia.cursecdn.com/pixark_gamepedia_en/3/30/Yellow_Magic_Crystal_Packet.png
}

.btn:disabled, .btn[disabled] {
  color: red;
  background-color: white;
}

h5 {
  margin-top: .5em;
}

.dataRight div {
  /* display: inline-flex; */
  align-items: center;
}
/* #fairy-price {
  float: center;
} */

.displayPrice {
  justify-content: center;
  align-items: center;
  text-align: center;
}
 h2 {
  inline-size: max-content;
  word-spacing: -1em;
}

hr {
  margin: 0 .5rem 0 .5rem;
  height: 2px;
  color: rgb(66, 66, 73);
}
hr .main {
  /* margin: 0 .5rem 0 .5rem; */
  height: 5px;
  color: rgb(66, 66, 73);
}

p {
  color: red;
  font-variant: all-small-caps;
}